* {
    box-sizing: border-box
}

body {
    background-color: rgb(50, 180, 180);
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 0px;
    margin: 20px;
    min-height: 100vh;
    border-radius: 30px;
   
}
 body::-webkit-scrollbar{display: none};

main {
    background-color: rgb(227, 140, 10);
    display: flex;
    height: 90vh;
    width: 1fr;
    float: left;
    padding: 0px;
    margin: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}

.giedrei {
font-size: 20px;
font-weight: bold;
padding: 10px;
background-color: lightgray;
}




h6,h5,h4,h3,h2 {
    font-size: 12.5px;
    line-height: 1.2em;
    color: rgb(75, 75, 75)
}



p {
    
    width: calc(100% - 25px);
    justify-items: center;
    margin: 10px;
    font-size: 12.5px;
    line-height: 1.2em;
    color: rgb(75, 75, 75);
    overflow-y: scroll;
}
p::-webkit-scrollbar {
    display: none
}

;